<template name="registersShow">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="registers" text="Registers"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Details</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="_recordNew" data-id="{{register._id}}">Edit</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="has-header"}}
  {{> tabular table=TabularTables.NewTable  selector=selector class="table table-striped table-bordered table-condensed"}}

    {{/ionContent}}
  {{/ionView}}


</template>
<template name="hello">
  {{Item}}
  </template>
