<template name="registers">


  {{#contentFor "headerTitle"}}
    <h1 class="title">Registers</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="_registersNew">{{> ionIcon icon="ios-plus-empty"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="has-header"}}
    {{> loginButtons}}
    <!-- {{> cameraEvent}}
     {{> libraryEvent}}
     {{> img}} -->
     {{#if currentUser}}
      {{#ionList}}
        {{#each registers}}
        {{#ionItem   buttonRight=true class="item-icon-right"}}
          {{config.name}}
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          <button class="delete">+</button>
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
            <button class="contact">C</button>
                      <button class="autosuggest">autosuggest</button>
        {{/ionItem}}
        {{/each}}
      {{/ionList}}
           {{/if}}
    {{/ionContent}}

  {{/ionView}}
</template>
